.registroNavDer2{
     display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    align-items: center;


}

.registroNum2{
   display: block;
    color: #B3B7BA;
    font-size: 25px;
    margin-top: 1rem;
    width: 40%;
    height: 100%;

}
.registroSeccionDer2{
    background-color: #222E39;
    width: auto;
    max-width: 80%; /* Evita que sean demasiado grandes */
    min-height: 200px; /* Fija una altura mínima para evitar que el alto cambie */
    height: 520px;
    opacity: 90%;
    backdrop-filter: blur(10px);
    justify-items: center;
}

.registroNum2:nth-child(2){
    color: #ffffff;

.registroPlanDetalles2{
display: block;}
}

.registroPlanSeccion2{
     height: 80px;
    width: 100%;
    background-color: #222E39;
    margin-bottom: 2rem;
  opacity: 90%;
    backdrop-filter: blur(10px);}

.registroPlanContenido2{
    display: grid;
    grid-template-columns: 8% 82% 10%;
    padding: 1rem;
    height: 80px;


}
.registroPlanContenido2 a{
    text-decoration: underline;

}

.registroPlanContenido2 i{
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 0.3rem;
    margin-left: 1rem;

}
.registroPlanContenido2titulo{
    font-size: 18px;
    font-weight: 600;
    color: #B3B7BA;
}
.registroPlanContenido2texto{
    font-weight: 200;
     color: #B3B7BA;
}
.registroPlanContenido2 a{
    color: #ffffff;
    margin-top: 0.5rem;
    font-size: 20px;

}

.registroBoton2 a{
    background-color: #FFCC00;
    padding: 1rem 7.1rem;
    border: none;
    color: #222E39;
    font-weight: 800;
    font-size: 1rem;
    text-decoration: none;
     pointer-events: none; /* Desactiva clics */
    opacity: 0.5; /* Cambia el estilo para parecer desactivado */
    cursor: not-allowed;

}

.registroBoton2{
    margin-top:3rem ;
}

.registroDatosSeccion2{
    width: 100%;
    height: 1030px;
    background-color: #222E39;
     opacity: 90%;
    backdrop-filter: blur(10px);


}

.radio-sexo input[type="radio"] {
    margin-right: 10px; /* Separar los botones */
}
.radio-sexo label {
    margin-right: 15px; /* Separar las etiquetas */
}

.registroDatosSeccion2Contenedor{
    padding: 2rem;
    color: #FFFFFF;
}

.registroDatosSeccion2titulo{
    font-size: 40px;
    font-weight: 800;
}

.registroDatosFormularioTituloDatosPersonales, .registroDatosFormularioTituloDatosDomicilio, .registroDatosFormularioTituloDatosContraseña{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 25px;
    font-weight: 400;

}
.registroDatosFormularioTituloDatosDomicilio, .registroDatosFormularioTituloDatosContraseña{
    padding-top: 2rem;
}
.registroDatosFormularioTituloDatosPersonales{
    padding-bottom: 1rem;
}

#id_sexo{
    margin-bottom: 2rem;
}

.campo-formulario input{
    width: 90%;
    background-color: #222E39;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    padding: 0.5rem;
    font-size: 20px;
}




.campo-formulario input:focus {
    outline: none;
    color: #FFFFFF;
}

.campo-formulario input::placeholder {
    color: #FFFFFF; /* Cambia el color del placeholder a blanco */
    opacity: 1;     /* Asegúrate de que el placeholder tenga opacidad completa */
}



.registroFormularioDatosPersonales, .registroFormularioDomicilio{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.errores-formulario{
   color: #ba1d1d;

}
#id_password_confirm{
    margin-bottom: 2rem;
}
.btn-confirmar{
     background-color: #FFCC00;
    padding: 1rem 7.1rem;
    border: none;
    color: #222E39;
    font-weight: 800;
    font-size: 1rem;
    text-decoration: none;
    margin-top: 1rem;

}

.registroFormularioRadio{
    padding: 1rem;
    border: 1px solid #FFFFFF;
    width: 15%;
    display: flex;
    gap: 0.5rem;
}
.registroFormularioRadio input{
    background-color: #222E39;
}

.registroFormularioRadios{
    display: flex;
    gap: 1rem;
}
.registroFormularioContraseña{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}


@media (max-width: 1657px) {
    .registroSeccionDer2{
      min-width: 980px;
        width: auto;
       max-width: 100%; /* Ajusta el ancho al contenedor */

        margin: 0 auto; /* Centra horizontalmente */
        margin-bottom: 4rem;
        min-height: 560px;
    }
    .registroDetallesPagoSeccion1{
        margin-bottom: 0rem;
    }

     .registroBoton2{
         width: 100%;
    display: flex;
    justify-content: center;
        text-align: center;
    }
    .registroBoton2 a{
    background-color: #FFCC00;
    width: 100%;
    border: none;
    color: #222E39;
    font-weight: 800;
    font-size: 1.3rem;
    text-decoration: none;
    padding-left:  0;
    padding-top: 1rem;
        padding-bottom: 3rem;
        padding-right: 0;

    height: 40px;
    }
}