
.registroCabecera {
    display: grid;
    width: 100vw;
    grid-template-columns:15% 50% 35%;
    background-color: #222E39;
    color: #D9D9D9;
    font-weight: 600;
    text-align: center;
    padding: 0.25vw 0.05vw 0.5vw 0.5vw; /* top, right, bottom, left */
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}

.registroCabecera img {
    margin-top: 0.5vh;
    width: 12vw; /* Proporcional al ancho de la ventana */
    height: auto; /* Mantener la proporción */
}
.registroNavDer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 50%;
    margin-left: 18em;
    height: 90% ;

}
.registroNum{
    display: block;
    color: #B3B7BA;
    font-size: 30px;
    margin-top: 1rem;
    width: 50%;
    height: 100%;

}
.registroSubrayado{
    background-color: #ffffff;
    border-radius: 3px;
    width: 100%;
    height: 6px;
margin-top: 0.3rem;
}

.registroNum:nth-child(1){
    color: #ffffff;
}

.fondoRegistro1{
     width: 100%;
    height: 100vh;
    background-image: url("../imagenes/registroFondo.png");
    background-position: top; /* Posiciona la imagen en la parte superior */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: 67% 33%;
    gap:2rem;


}

.registroSeccionIzq1{
   margin:6rem 0rem 4rem 10rem;
    opacity: 90%;


}
.registroPlanSeccion1{
    width: 100%;
    height: 75%;
    background-color: #222E39;
    backdrop-filter: blur(5px);


}
.registroDatosSeccion1, .registroDetallesPagoSeccion1{
    height: 10%;
    width: 100%;
    background-color: #222E39;
    margin-top: 2rem;
    backdrop-filter: blur(10px);



}

.registroSeccionDer1{
    background-color: #222E39;
    margin: 6rem 12rem 4rem 0rem;
    height: 32%;
    opacity: 90%;
    backdrop-filter: blur(10px);
}
.registroPlanSeccion1Contenedor{
    padding: 2rem;
}
.registroSeleccionaPlan{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 800;


}
.registroEligeSuscripcion{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 25px;
    padding-top: 1rem;
}
.registroPlanes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    width: 100%;
    height:23vw;
    padding-top:2rem;
}
.registroPlan{
        cursor:pointer;
        background-color: #FFFFFF;
        color: #222E39;
}

.registroPlanSeccion{
    height: max-content;
    padding: 2rem;


}

.registroPlanTitulo{
    font-size: 40px;
    font-weight: 800;

}


.registroVentaja{
    padding-top: 2rem;
    font-weight: 200;
    font-size: 20px;
}
.registroPrecio{
    font-size: 40px;
    font-weight: 800;
    display: flex;

}
.registro1mes{
    margin-top: 2.4rem;
    margin-left: 0.3rem;
    font-size:20px;

}
.registroEuros{
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: fit-content;


}
.registroVentajas{
    padding-top: 2rem;
    border-top: 1px solid #222E39;
}

.registroVentajas li{
    padding-top: 0.7rem;
list-style: none
}
.registroTusdatos,.registroDetallesPago {
    color: #B3B7BA;
    font-size: 30px;
    font-weight: 800;
    padding-top:1.5rem;
    padding-left: 2rem;
}
.registroSeccionDer1Contenedor{
  padding: 3rem;
}
.registroInformacionGeneral{
    color:#FFFFFF;
    font-size: 25px;
    font-weight: 800;
    padding-bottom: 2rem;
}

.registroBoton a{
    background-color: #7D6C28;
    padding: 1rem 6.3rem;
    border: none;
    color: #222E39;
    font-weight: 800;
    font-size: 1.3rem;
    text-decoration: none;


}

.registroBoton{
    margin-top:3rem ;
}
.registroPlanDetalle{
    display: flex;
    color: #FFFFFF;
    width: 100%;
    justify-content: space-between;

}
.registroTexto{
margin-top: 1rem;

}
.registroValor{
margin-top: 1rem;
    text-align: right;

}
.registroCuotaMensual{
    padding-top: 1rem;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 800;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.registroCuotaMensualTexto{
width: 50%;
}
.registroCuotMensualValor{

}


















