body{
        background-attachment: fixed;

}

.rutinaParametrosTitulo{
    font-weight: 700;
    font-size: 32px;
    margin-top: 1rem;
}
.rutina{
    width: 100%;
    height: 1050px;
    display: grid;
    grid-template-columns: 2.5% 95% 2.5%;

}

.rutinaContenedor{
    margin-top: 10rem;
    margin-bottom: 5rem;
    color: #FFFFFF;
    background-image: linear-gradient(to right,#222E39, #171E26);
    opacity: 90%;
    backdrop-filter: blur(10px);
    width: 100%;
    height: fit-content;

}

.rutinaContenedorPadding{
    padding: 2rem;
    justify-items: center;
    text-align: center;
}

.rutinaContenedorTitulo{
    font-size: 42px;
    font-weight: 800;

}

.rutinaContenedorSubtitulo{
    font-size: 22px;
    font-weight: 200;
    margin-top: 1rem;

}

#id_dias_a_la_semana, #id_tiempo_del_entreno, #id_nivel_de_la_persona, #id_objetivo{
display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
    flex-wrap: wrap;

}

#id_dias_a_la_semana div, #id_tiempo_del_entreno div, #id_nivel_de_la_persona div, #id_objetivo div {
    padding: 0.5rem;
    border: 1px solid #FFFFFF;
}

.rutinaBtn{
    margin-top: 4rem;
    background-color: #FFCC00;
    color: #222E39;
    font-size: 18px;
    font-weight: 800;
    border: none;
    text-decoration: none;
    height: 60px;
    width: 100%;
}

.rutinaContenedorPadding form{
    width: 100%;
}