
.registroCabecera {
    display: grid;
    width: 100%;
    grid-template-columns:15% 70% 15%;
    background-color: #222E39;
    color: #D9D9D9;
    font-weight: 600;
    text-align: center;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 0.5rem;


}

.registroCabecera img {
   align-items: center;
    width:100%; /* Proporcional al ancho de la ventana */
    height: auto; /* Mantener la proporción */
}
.registroNavDer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;


}
.registroNum{
    display: block;
    color: #B3B7BA;
    font-size: 25px;
    margin-top: 1rem;
    width: 40%;
    height: 100%;

}
.registroSubrayado{
    background-color: #ffffff;
    border-radius: 3px;
    width: 100%;
    height: 6px;
margin-top: 0.3rem;
}

.registroNum:nth-child(1){
    color: #ffffff;
}

.fondoRegistro1{
     width: 100%;
    height: auto;
    background-image: url("../imagenes/registroFondo.png");
    background-position: top; /* Posiciona la imagen en la parte superior */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: 67% 33%;
    gap:2rem;
    background-attachment: fixed;


}

.registroSeccionIzq1{
   margin:6rem 0rem 4rem 10rem;
    opacity: 90%;


}
.registroPlanSeccion1{
    width: 100%;
    height: 680px;
    background-color: #222E39;
    backdrop-filter: blur(5px);


}
.registroDatosSeccion1, .registroDetallesPagoSeccion1{
    height: 10%;
    width: 100%;
    background-color: #222E39;
    margin-top: 2rem;
    backdrop-filter: blur(10px);

}


.registroSeccionDer1{
    background-color: #222E39;
    margin: 6rem 12rem 4rem 0rem;
    height: 21%;
    opacity: 90%;
    backdrop-filter: blur(10px);
}
.registroPlanSeccion1Contenedor{
    padding: 2rem;
}
.registroSeleccionaPlan{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 800;


}
.registroEligeSuscripcion{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 25px;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.registroPlanes{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual ancho */
    gap: 1.5rem;
    width: 100%;
    height: auto; /* Ajustar a la altura del contenido */
}
.registroPlan{
        cursor:pointer;
        background-color: #FFFFFF;
        color: #222E39;
    height: 100%;

}

.registroPlanSeccion{
    width: clamp(200px, 100%, 100%); /* Mínimo 200px, máximo 100% del contenedor */
    min-height: 440px; /* Mantener el alto mínimo */
    height: auto;
    padding: 2rem;
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho */


}

.registroPlanTitulo {
    font-size: clamp(20px, 2vw, 40px); /* Entre 20px y 40px */
    font-weight: 800;
    text-align: center;
}

.registroPlanTitulo, .registroVentaja,.registroPrecio{
    display:flex;
    justify-content: center;
}
.registroVentajas{
margin-left: 1rem;
}




.registroVentaja{
    padding-top: 2rem;
     font-size: clamp(12px, 1.5vw, 20px); /* Entre 12px y 20px */
    font-weight: 200;
    text-align: center;
}
.registroPrecio{
    font-size: clamp(18px, 2vw, 40px); /* Entre 18px y 40px */
    font-weight: 800;
    border-bottom: 1px solid #222E39;
    text-align: center;

}
.registro1mes{
  align-content: center;
    padding-left: 0.5rem;
    font-size:20px;

}
.registroEuros{
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: fit-content;


}
.registroVentajas{
    padding-top: 2rem;

}

.registroVentajas li{
        padding-top: 0.7rem;
    list-style: none;


}
.registroTusdatos,.registroDetallesPago {
    color: #B3B7BA;
    font-size: 30px;
    font-weight: 800;
    height: 80px;
    width: 100%;
    align-content: center;
    padding-left: 2rem;
}
.registroSeccionDer1Contenedor{
  padding: 3rem;
}
.registroInformacionGeneral{
    color:#FFFFFF;
    font-size: 25px;
    font-weight: 800;
    padding-bottom: 2rem;
}

.registroBoton a{
    background-color: #FFCC00;
    padding: 1rem 6.3rem;
    border: none;
    color: #222E39;
    font-weight: 800;
    font-size: 1.3rem;
    text-decoration: none;

}
.confirmar-boton[disabled] {
    pointer-events: none; /* Desactiva clics */
    opacity: 0.5; /* Cambia el estilo para parecer desactivado */
    cursor: not-allowed;
}

.registroVentajas li i{
    padding-right:1rem ;
}
.registroBoton{
    margin-top:3rem ;
}
.registroPlanDetalles{
    display: none;

}
.registroPlanDetalle{
    display: flex;
    color: #FFFFFF;
    width: 100%;
    justify-content: space-between;

}
.registroTexto{
margin-top: 1rem;

}
.registroValor{
margin-top: 1rem;
    text-align: right;

}
.registroCuotaMensual{
    padding-top: 1rem;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 800;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.registroCuotaMensualTexto{
width: 50%;
}
.registroCuotaMensual{

}

.registroPlanDetalle:nth-child(1){
    padding-bottom: 1rem;
    border-bottom:1px solid #FFFFFF;
}
.registroPlanDetalle:nth-child(5){
    padding-bottom: 1rem;
    border-bottom:1px solid #FFFFFF;
}

@media (max-width: 1657px) {
.fondoRegistro1{

    display: flex;
    flex-direction: column;
    gap:0rem;

}
    .registroSeccionIzq1{
        margin: 6rem 10rem 2rem 10rem;
    }
    .registroSeccionDer1{
        margin: 0rem 10rem 6rem 10rem;
        height: 300px;

    }
    .registroBoton{
         width: 100%;
    display: flex;
    justify-content: center;
        text-align: center;
    }
    .registroBoton a{
    background-color: #FFCC00;
    width: 100%;
    border: none;
    color: #222E39;
    font-weight: 800;
    font-size: 1.3rem;
    text-decoration: none;
    padding-left:  0;
    padding-top: 1rem;
        padding-bottom: 3rem;
        padding-right: 0;

    height: 40px;
    }
    .registroInformacionGeneral{
        text-align: center;
        font-size: 25px;

    }
    .registroBoton{
        justify-items: center;
    }
}

















