*,
*::before,
*::after {
    box-sizing: border-box;
}

.registroSeccionIzq1{
   min-width: 980px;

}
.registroNavDer3{
      display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    align-items: center;



}
.registroNum3{
    display: block;
    color: #B3B7BA;
    font-size: 25px;
    margin-top: 1rem;
    width: 40%;
    height: 100%;

}

.registroNum3:nth-child(3) {
    color: #ffffff;
}

.registroDatosSeccion3{
    height: 80px;
    width: 100%;
    background-color: #222E39;
    margin-bottom: 2rem;
  opacity: 90%;
    backdrop-filter: blur(10px);
}

.registroDetallesPagoSeccion3{
    width: 100%;
    height: 310px;
    background-color: #222E39;
    opacity: 90%;
    backdrop-filter: blur(10px);
}
.registroDetallesPago{
    padding-top: 2rem;
}

.registroDatosSeccion3{
     display: grid;
    grid-template-columns: 8% 82% 10%;
    padding: 1rem;
    height: 80px;

}

.registroDatosSeccion3 i{
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 0.3rem;
    margin-left: 1rem;

}

.registroDatosSeccion3titulo{
    font-size: 18px;
    font-weight: 600;
    color: #B3B7BA;
}
.registroDatosSeccion3texto{
    font-weight: 200;
     color: #B3B7BA;
}
.registroDatosSeccion3 a{
    color: #ffffff;
    margin-top: 0.5rem;
    font-size: 20px;
}
/* Capa oscurecida para dar énfasis al mensaje */
.overlay {
    position: fixed; /* Ocupa toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que esté encima de todo el contenido */
}

/* Estilo para el contenedor del mensaje */
.message-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 80%;
}

/* Estilos adicionales para el mensaje */
.message-container p {
    font-size: 18px;
    color: #333;
    margin: 0;
}

/* Estilos para los detalles del pago */
.payment-details {
    margin-top: 20px;
    text-align: left;
    font-size: 16px;
    color: #444;
}

.payment-details p {
    margin: 8px 0;
}

.payment-details strong {
    color: #007bff; /* Color para resaltar las etiquetas */
}

.registroTotalAPagarTexto{
    margin-top: 1rem;
}
.registroTotalAPagarValor {
    margin-top: 1rem;
}

.registroCuotaMensual{
    padding-bottom: 1rem;
    font-weight: 500;
    border-bottom: 1px solid #FFFFFF;
    font-size: 16px;

}

.registroPlanDetalle:nth-child(5) {
    border-bottom: none;
    padding-bottom: unset;
}


.registroTotalAPagar{

    color: #FFFFFF;
    font-size: 25px;
    font-weight: 800;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#card-holder-name {
    width: 100%;
    background-color: #222E39;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    font-size: 20px;
    margin-bottom: 2rem;
    padding: 0.5rem;
    color: #FFFFFF;
    margin-top: 2rem;

}

.stripe-input{
    padding: 0.5rem;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 20px;
}

#card-holder-name:focus, .stripe-input:focus{
    outline: none;
    color: #FFFFFF;
}

#card-holder-name::placeholder {
    color: #B3B7BA; /* Cambia el color del placeholder a blanco */
    opacity: 1;     /* Asegúrate de que el placeholder tenga opacidad completa */
}

.InputElement.is-empty.Input.Input--empty::placeholder {
    color: #FFFFFF;
}


@media (max-width: 1657px) {
    .registroSeccionDer2 {

        min-height: 590px;
    }

    .registroSeccionIzq1 {
        min-height: 575px;

    }

}