{% extends 'base.html' %}
{% block content %}
    <div class="fondoBienvenida"></div>

    <div class="loginSeccionPrincipal">
        <div class="loginContenedor">
            <div class="loginCentrarVerticalmente">
                <div></div>
                <div>
                    <div class="loginDatosAcceso">TUS DATOS DE</div>
                    <div class="loginDatosAcceso">ACCESO</div>

                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}

                        <!-- Campo DNI -->
                        <div class="loginCampos">
                            {{ form.dni }}
                            
                        </div>

                        <!-- Campo Contraseña -->
                        <div class="loginCampos">
                            {{ form.password }}
                           
                        </div>

                        <!-- Recaptcha -->
                        <div class="loginRecaptcha">
                            {{ form.captcha }}
                        </div>

                        <!-- Mostrar errores generales -->
                        {% if error_messages %}
                            <div class="mensaje_error">
                                <ul>
                                    {% for error in error_messages %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        <!-- Campo Oculto 'next' -->
                        {{ form.next }}

                        <!-- Botón de envío -->
                        <div class="loginBotonyEnlace">
                            <button type="submit">INICIAR SESIÓN</button>
                            <a href="{% url 'signupPlan' %}">Hazte socio</a>
                        </div>
                    </form>
                </div>
                <div></div>
            </div>
        </div>
    </div>
{% endblock %}
