{% extends "base.html" %}
{% block content %}
<div class="progresoCentrar">

     <div class="progresoCalendarioTitulo">
        <div>TU MES</div>
    </div>
    <div class="progresoContenedor3">
        <div class="progresoCentrarCalendario">
             <div id="calendar"></div>
        </div>
    </div>
    
    <div class="progresoContenedor1">
    <div class="progresoDatosPeso">
        <div class="progresoDatosPesoTitulo">Peso</div>
        {% if peso_actual %}
        <div class="progresoDatosPesoPeso">{{ peso_actual }}</div>
        {% else %}
            <div class="progresoDatosPesoPeso">70.0</div>
        {% endif %}
        <div class="progresoDatosPesoKg">kg</div>
    </div>
    <div class="progresoPesoFondoPeso"></div>
    <a href="{% url 'datos_fisicos' %}"><div class="progresoPesoFlecha"><i class="fa-solid fa-arrow-right"></i></div></a> 
    </div>
    
    <div class="progresoContenedor2">
        <div class="progresoAltura">
            <div class="progresoDatosAltura">
                <div class="progresoDatosAlturaTitulo">Altura</div>
                {% if altura_actual %}
                <div class="progresoDatosAlturaPeso">{{ altura_actual }}</div>
                {% else %}
                    <div class="progresoDatosAlturaPeso">{{ 172 }}</div>

                {% endif %}
                <div class="progresoDatosAlturaCm">cm</div>
            </div>
            <div class="progresoAlturaIcono"><i class="fa-solid fa-ruler-vertical"></i></div>
        </div>
        <div class="progresoIMC">
             <div class="progresoDatosIMC">
                <div class="progresoDatosIMCTitulo">IMC</div>
                {% if altura_actual %} 
                <div class="progresoDatosIMCPeso">{{ imc }}</div>
                {% else %}
                    <div class="progresoDatosIMCPeso">22.22</div>
                {% endif %} 
                <div class="progresoDatosIMCunidad">%</div>
             </div>
             <div class="progresoIMCIcono"><i class="fa-solid fa-chart-pie"></i></div> 
        </div>    
        
    </div>
   
  
</div>
    
    
    
    
    
<!-- FullCalendar CSS -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/locales/es.global.min.js"></script>
<!-- FullCalendar JS -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Inicializar el calendario
        const calendarEl = document.getElementById('calendar');
        const calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',  // Vista inicial
        locale: 'es',  // Idioma en español
        displayEventTime: false,    
        events: '/InForFit/peso-data/',  // Endpoint de eventos
        eventColor: '#B3B7BA',  // Color de fondo del evento
        eventTextColor: '#222E39',  // Color del texto del evento
        buttonText: {  // Traducción de los textos de los botones
            today: 'Hoy',
            month: 'Mes',
            week: 'Semana',
            day: 'Día',
            list: 'Agenda',
        },
    });
            

        calendar.render();  // Renderizar el calendario
        
    });
</script>

{% endblock %}
