<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/estilosBase.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilosRegistro1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    
    <div class="registroCabecera">
        <a href="{% url 'welcome' %}"><img src="{% static 'imagenes/logo.png' %}" alt="Logo"></a>
        <div></div>
        <div class="registroNavDer">
            <div class="registroNum">1 <div class="registroSubrayado"></div></div>
            <div class="registroNum">2</div>
            <div class="registroNum">3</div>
        </div>
    </div>
    
    <div class="fondoRegistro1">
        <div class="registroSeccionIzq1">
            <div class="registroPlanSeccion1">
                <div class="registroPlanSeccion1Contenedor">
                    <div class="registroSeleccionaPlan">SELECCIONA TU PLAN</div>
                    <div class="registroEligeSuscripcion">Elige la suscripción que más te convenga</div>
                    <div class="registroPlanes">
                        <div class="registroPlan">
                            <div class="registroPlanSeccion">
                                <div class="registroPlanTitulo">MENSUAL</div>
                                <div class="registroVentaja">MAYOR FLEXIBILIDAD</div>
                                 <div class="registroPrecio">
                                    <div class="registroEuros">38.99€</div><div class="registro1mes">/1 MES</div>
                                </div>
                                <div class="registroVentajas">
                                    <li><i class="fa-solid fa-check"></i> Duración mínima: 1 mes</li>
                                    <li><i class="fa-solid fa-check"></i> Oferta deportiva completa</li>
                                    <li><i class="fa-solid fa-check"></i> Clases colectivas incluidas</li>
                                </div>
                            </div>

                        </div>
                        <div class="registroPlan">
                            <div class="registroPlanSeccion">
                                <div class="registroPlanTitulo">ANUAL</div>
                                <div class="registroVentaja">MEJOR PRECIO</div>
                                 <div class="registroPrecio">
                                    <div class="registroEuros">24.99€</div><div class="registro1mes">/1 MES</div>
                                </div>
                                <div class="registroVentajas">
                                    <li><i class="fa-solid fa-check"></i> Duración mínima: 12 meses</li>
                                    <li><i class="fa-solid fa-check"></i> Oferta deportiva completa</li>
                                    <li><i class="fa-solid fa-check"></i> Clases colectivas incluidas</li>
                                </div>
                            </div>
                        </div>
                        <div class="registroPlan">
                            <div class="registroPlanSeccion">
                                <div class="registroPlanTitulo">SEMESTRAL</div>
                                <div class="registroVentaja">MÁS FLEXIBILIDAD</div>
                                <div class="registroPrecio">
                                    <div class="registroEuros">32.99€</div><div class="registro1mes">/1 MES</div>
                                </div>
                                <div class="registroVentajas">
                                    <li><i class="fa-solid fa-check"></i>Duración mínima: 6 meses</li>
                                    <li><i class="fa-solid fa-check"></i> Oferta deportiva completa</li>
                                    <li><i class="fa-solid fa-check"></i> Clases colectivas incluidas</li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="registroDatosSeccion1">
                <div class="registroTusdatos">2 TUS DATOS</div>
            </div>
            <div class="registroDetallesPagoSeccion1">
                <div class="registroDetallesPago">3 DETALLES DE PAGO</div>
            </div>
        </div>
        <div class="registroSeccionDer1">
            <div class="registroSeccionDer1Contenedor">
                <div class="registroInformacionGeneral">INFORMACIÓN GENERAL</div>
                <div class="registroPlanDetalles">
                    <div class="registroPlanDetalle">
                        <div class="registroTexto"></div>
                        <div class="registroValor"></div>
                    </div>
                    <div class="registroPlanDetalle">
                        <div class="registroTexto"></div>
                        <div class="registroValor"></div>
                    </div>
                    <div class="registroPlanDetalle">
                        <div class="registroTexto"></div>
                        <div class="registroValor"></div>
                    </div>
                    <div class="registroPlanDetalle">
                        <div class="registroTexto"></div>
                        <div class="registroValor"></div>
                    </div>
                    <div class="registroPlanDetalle">
                        <div class="registroTexto"></div>
                        <div class="registroValor"></div>
                    </div>
                    <div class="registroCuotaMensual">
                        <div class="registroCuotaMensualTexto"></div>
                        <div class="registroCuotMensualValor"></div>
                    </div>
                </div>
                <div  class="registroBoton"><a href="{% url 'signupDatos' %}">CONFIRMAR</a></div>

            </div>
           
        </div>
        
    </div>
    <script src="{% static 'js/registro1.js' %}"></script>

</body>
</html>
