<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/estilosBase.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilosRegistroDatos.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilosRegistroPlanes.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilosRegistroPago.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="registroCabecera">
        <a href="{% url 'welcome' %}"><img src="{% static 'imagenes/logo.png' %}" alt="Logo"></a>
        <div></div>
        <div class="registroNavDer3">
            <div class="registroNum3">1</div>
            <div class="registroNum3">2</div>
            <div class="registroNum3">3<div class="registroSubrayado"></div></div>
        </div>
    </div>

    <div class="fondoRegistro1">
        <div class="registroSeccionIzq1">
            <!-- Plan Section -->
            <div class="registroPlanSeccion2">
                <div class="registroPlanContenido2">
                    <i class="fa-solid fa-check"></i>
                    <div>
                        <div class="registroPlanContenido2titulo">PLAN</div>
                        <div class="registroPlanContenido2texto">{{ contrato }} - {{ cuota_mensual }} /mes</div>
                    </div>
                    <a href="{% url 'signupPlan' %}">Editar</a>
                </div>
            </div>

            <!-- User Data Section -->
            <div class="registroDatosSeccion3">
                <i class="fa-solid fa-check"></i>
                <div>
                    <div class="registroDatosSeccion3titulo">TUS DATOS</div>
                    <div class="registroDatosSeccion3texto">{{ nombre }} {{ apellidos }}</div>
                </div>
                <a href="{% url 'signupDatos' %}?contrato={{ contrato }}">Editar</a>
            </div>

            <!-- Payment Details Section -->
            <div class="registroDetallesPagoSeccion3">
                <div class="registroDetallesPago">DETALLES DE PAGO</div>
                <form id="payment-form">
                    {% csrf_token %}
                    <div id="card-element"></div>
                    <div id="card-errors" role="alert"></div>
                    <button id="submit-button" type="submit">Pagar ahora</button>
                </form>
            </div>

            <!-- Success or Error Message -->
           {% if mensaje %}
                <div class="overlay">
                    <div class="message-container">
                        {% if mensaje == 'success' %}
                            <p>Pago realizado con éxito. ¡Gracias!</p>
                            <div class="payment-details">
                                <p><strong>Cuota Mensual:</strong> {{ cuota_mensual }}</p>
                                <p><strong>Cuota Inscripción:</strong> {{ cuota_inscripcion }}</p>
                                <p><strong>Total Pagado:</strong> {{ monto_total }}</p>
                            </div>
                            <div><a href="{% url 'welcome' %}">PAGINA PRINCIPAL</a></div>
                        {% elif mensaje == 'cancel' %}
                            <p>Error en el pago. Por favor, verifica los datos e inténtalo de nuevo.</p>

                            <!-- Aquí cambiamos el enlace según el valor de 'contrato' -->
                            {% if contrato == 'Semestral' %}
                                <a href="{% url 'signupPago' %}?contrato=Semestral">VOLVER</a>
                            {% elif contrato == 'Anual' %}
                                <a href="{% url 'signupPago' %}?contrato=Anual">VOLVER</a>
                            {% else %}
                                <!-- Si el contrato no es ni semestral ni anual, podrías poner un valor por defecto -->
                                <a href="{% url 'signupPago' %}?contrato=Mensual">VOLVER</a>
                            {% endif %}
                        {% elif mensaje == 'usuario_existente' %}  
                            <p>Ya hay un usuario existente para los datos que has introducido. Por favor, verifica que sean correctos</p>
                            <div>                <a href="{% url 'signupDatos' %}?contrato={{ contrato }}">IR A DATOS</a></div>

                        {% endif %}
                    </div>
                </div>
            {% endif %}

        </div>

        <div class="registroSeccionDer2">
            <div class="registroSeccionDer1Contenedor">
                <div class="registroInformacionGeneral">INFORMACIÓN GENERAL</div>
                <div class="registroPlanDetalles2">
                    <div class="registroPlanDetalle">
                        <div class="registroTexto">Contrato</div>
                        <div class="registroValor">{{ contrato }}</div>
                    </div>
                    <div class="registroPlanDetalle">
                        <div class="registroTexto">Duración:</div>
                        <div class="registroValor">{{ duracion }}</div>
                    </div>
                    <div class="registroPlanDetalle">
                        <div class="registroTexto">Cuota de inscripción:</div>
                        <div class="registroValor">{{ cuota_inscripcion }}</div>
                    </div>
                    <div class="registroPlanDetalle">
                        <div class="registroTexto">Renovación:</div>
                        <div class="registroValor">{{ renovacion }}</div>
                    </div>
                    <div class="registroPlanDetalle">
                        <div class="registroTexto">Recisión:</div>
                        <div class="registroValor">{{ recision }}</div>
                    </div>
                    <div class="registroCuotaMensual">
                        <div class="registroCuotaMensualTexto">CUOTA MENSUAL</div>
                        <div class="registroCuotaMensualValor">{{ cuota_mensual }}</div>
                    </div>
                </div>
                <div class="registroBoton2"><a href="{% url 'signupPago' %}">PAGAR AHORA</a></div>
            </div>
        </div>
    </div>
</body>

<script src="https://js.stripe.com/v3/"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var stripe = Stripe("{{ stripe_public_key }}");
        var elements = stripe.elements();
        var cardElement = elements.create("card");
        cardElement.mount("#card-element");

        var form = document.getElementById("payment-form");
        var submitButton = document.getElementById("submit-button");

        form.addEventListener("submit", function (event) {
            event.preventDefault();

            submitButton.disabled = true; // Deshabilitar botón mientras se procesa el pago
            stripe.createPaymentMethod({
                type: 'card',
                card: cardElement,
            }).then(function (result) {
                if (result.error) {
                    // Muestra los errores al usuario
                    document.getElementById('card-errors').textContent = result.error.message;
                    submitButton.disabled = false; // Rehabilitar botón en caso de error
                } else {
                    // Envía el Payment Method ID al backend
                    fetch("{% url 'signupPago' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                        body: JSON.stringify({
                            payment_method_id: result.paymentMethod.id,
                            monto_total: {{ monto_total }},
                            contrato: "{{ contrato }}",
                        }),
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.usuario_existente) {
                            window.location.href = "{% url 'signupPago' %}?contrato={{ contrato }}&mensaje=usuario_existente";
                        } else if (data.status === 'success') {
                            // Redirige al usuario a la página de éxito sin mostrar un alert
                            window.location.href = "{% url 'signupPago' %}?contrato={{ contrato }}&mensaje=success";
                        } else {
                            window.location.href = "{% url 'signupPago' %}?contrato={{ contrato }}&mensaje=cancel";
                        }
                    })

                        .catch(error => {
                            console.error("Error al procesar el pago:", error);
                            submitButton.disabled = false; // Rehabilitar botón
                        });
                }
            });
        });
    });
</script>

</html>
